@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Comic+Relief:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Comic Sans True";
  src: url(Comic\ Sans\ MS.ttf) format("truetype");
}

body {
  font-family:"Comic Sans True", sans-serif;
  background-image: url(./images/BackgroundNEW.png);
    text-shadow: 2px 2px #ad86cd;

}


button {
  background: linear-gradient(90deg, #B3AAFF, #89AEFF);
  color: white;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 5px;
  padding: -60px;
}
button:hover {
  color: rgb(196, 196, 196);
  width: 64px;
  height: 64px;

}

dialog {
    border: 5px solid #af002d;
    border-radius: 10px;
    background: linear-gradient(90deg, #ff7a18, #af002d);

}